/* colours */
$gray : #E5E5E5;
$darkGray : #7A7A7A;
$yellow : #FFD15B;
$black : #1B1B1B;

/*global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font*/
* {
    font-family: 'Manrope', sans-serif;
}

h2,
label {
    font-family: 'Anton', sans-serif;
}

/*link*/
a {
    text-decoration: none;
    color: $black;
}

/* fade in animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*fade in recipe card*/
.fade-in-recipe {
    animation: fade-in 1s;
    animation-fill-mode: backwards;
    animation-delay: var(--fadeinDelayRecipe);
}

/* body */
body {
    margin: 0;
}

.container-body {
    position: relative;
    margin: auto;
    max-width: 1440px;
    background-color: $gray;
    border-top: solid white;
    border-top-width: thick;
}

/* header */
#header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: url("/assets/header-img.jpg");
    background-size: cover;
    padding: 50px;
    min-height: 650px;
}

#logo {
    width: 190px;
    height: 25px;
}

/*search bar*/
.search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

    label {
        color: #FFD15B;
        margin-bottom: 20px;
        font-size: 42px;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

    }

    &__input {
        position: relative;
        width: 65%;
    
        input {
            width: 100%;
            padding: 25px;
            border-radius: 10px;
        }

        &__icon{
           position: absolute;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 10px;
           background-color: #1B1B1B;
           font-size: 25px;
           right: 15px;
    top: 9px;
    width: 55px;
    height: 55px;
    transition: all 0.2s;

           i {
            color: white
           }

           &:hover{
            background-color: #FFD15B;
            cursor: pointer;

            i{
                color: #1B1B1B;
            }
           }
        }
    }
  
    &[data-error]::after {
        /* data error message */
        position: absolute;
        bottom: -10px;
        content: attr(data-error);
        color: $yellow;
        display: block;
        font-size: 13px;
        opacity: 0;
        transition: 0.3s;
        font-weight: 600;
    }

    &[data-error-visible="true"]::after {
        opacity: 1;
    }
}

/* main */
#main {
    padding: 0px 60px;
}

/* section filter */
/* filter tag */
.recipes-filter {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;


    &__ingredients,
    &__appliance,
    &__ustensils {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        // background-color: white;
        max-height: 250px;


        &__header {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &__tag {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            &__option {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                background-color: $yellow;
                border-radius: 25px;
            }
        }
    }
}

.search-tag {
    display: none;
}

.list-options-tag {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.list-options-tag::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

// .flex-header-recipe-tag {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     flex-wrap: nowrap;
// }
// /*TEST*/
// .TESTrecipes-filter {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     background-color: white;


//     &__ingredients {
//         display: flex;
//         flex-direction: column;
//         flex-wrap: nowrap;
//         height: 250px;
//     }
// }

// .TEST


/*count recipes*/
.count-recipes {
    font-weight: 600;
    font-size: 20px;
}

/* section recipes */
/*list recipes*/
.container-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

.recipe-card {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;

    &__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__content {
        padding: 20px;

        h2 {
            font-weight: 600;
            font-size: 20px;
        }

        h3 {
            color: $darkGray;
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;
            margin: 20px 0;
        }

        &__description {
            height: 70px;
            font-weight: 400;
            font-size: 15px;
            overflow: hidden;
        }

        &__ingredients {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            &__ingredient {
                display: flex;
                flex-direction: column;

                h4 {
                    font-weight: 600;
                    font-size: 15px;
                }

                span {
                    color: rgb(198, 193, 193);
                    font-weight: 400;
                    font-size: 15px;
                    margin-top: 5px;
                }
            }
        }
    }
}